<h1>Roy's Place</h1>

Hi <%= @user.first_name %>,

Welcome to Roy's Place Restaurant! Click on the link below to activate your account:

<%= edit_customer_account_activation_url(@user.activation_token, email: @user.email) %>