   <div class="wrap-item-mainmenu p-b-22">
    <h3 class="tit-mainmenu tit10 p-b-25">
      Classics
    </h3>
    <% @brunches.each do |brunch| %>
    <% if brunch.section == "Classics" %>
    <!-- Dinner classics -->
    <div class="item-mainmenu m-b-36">
      <div class="flex-w flex-b m-b-3">
        <a href="#" class="name-item-mainmenu txt21">
         <%= brunch.name %>
       </a>

       <div class="line-item-mainmenu bg3-pattern"></div>

       <div class="price-item-mainmenu txt22">
        $<%= brunch.price %>
      </div>
    </div>

    <span class="info-item-mainmenu txt23">
      <%= brunch.description %>
    </span>
  </div>
  <% end %>
  <% end %>  
</div>
</div>
<%= render 'brunches/partials/dishes_row' %>