<% provide(:title, "Edit User") %>
<% provide(:button_text, "Save changes") %>
<% provide(:path, customer_user_path) %>

<h1>Update your profile</h1>
<%= render 'customer/users/partials/basic_info_form' %>
 