
<!-- Start reservation Area -->
<div class="reservation-area">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="reservation-box1">
          <h1>Reserve your seats
            and come join us with your friends and family
          </h1>
        </div>
        <div class="reservation-box2">
          <h3>
            Above all, love each other, enjoy food with other, drink with each other, and embrace each other in reunion. Because love, food, and drinks satisfy many desires in our lives. Let us offer you hospitality without grumbling.
          </h3>
        </div>
        
      </div>
      <div class="col-md-6">
        <div class="reservation-form">
          <div class="col-lg-5 reservation-right">
            <form class="form-wrap text-center" action="#">
              <input type="text" class="form-control" name="name" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" >
              <input type="email" class="form-control" name="email" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'" >
              <input type="text" class="form-control" name="phone" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" >    
              <input type="text" class="form-control date-picker" name="date" placeholder="Select Date & time" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Select Date & time'" >                 
              <div class="form-select" id="service-select">
                <select>
                  <option data-display="">Select Event</option>
                  <option value="1">Event One</option>
                  <option value="2">Event Two</option>
                  <option value="3">Event Three</option>
                  <option value="4">Event Four</option>
                </select>
              </div>                  
              <button class="primary-btn text-uppercase mt-20">Make Reservation</button>
            </form>
            
          </div></div>
        </div>
      </div>

    </div>

  </div>
  <!-- End reservation Area -->
